@use "../abstracts/variables" as v;
@use "../abstracts/mixin" as m;

.cards {
	ul {
		list-style: none;
		ul {
			li {
				img {
					width: 100%;
				}
			}
		}
	}

	.cart-1,
	.cart-2 {
		width: 800px;
		margin: 0 auto;
	}

	.btn1,
	.btn2 {
		ul {
			display: flex;
			justify-content: space-between;
			li {
				a {
					text-decoration: none;
					color: red;
				}
			}
		}
	}

	.grid-1 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		li {
			background-color: aquamarine;
			box-sizing: border-box;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	.wrapper-2 {
		padding: 0;
		margin: 0;

		li {
			background-color: aquamarine;
			box-sizing: border-box;
		}

		img {
			width: 300px;
			height: 300px;
			display: block;
			object-fit: fill;
		}

		.grid-2 {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 10px;
		}
		.grid-3 {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 10px;
		}
	}
}
