@use "../abstracts/variables" as v;

.search-content {
	display: flex;
	justify-content: center;
	width: 90%;
	max-width: 55rem;
	margin: 0 auto;

	& .search-btn {
		background-color: v.$color-btn;
		border-color: v.$color-btn-bk;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		img {
			vertical-align: middle;
			width: 80%;
			height: auto;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.search {
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.3rem;
	border: none;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	outline: v.$color-btnText;
	color: v.$color-btnText;
}
