@use "../abstracts/variables" as v;
@use "../abstracts/mixin" as m;

body {
	margin: 0;
	padding: 0;
	background-color: v.$color-bg;
	color: v.$color-main;
	width: 95%;
	margin: 0 auto;

	@include m.mq(md) {
		width: 90%;
		max-width: 1200px;
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: v.$color-main;
}
