@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/*--- use like this -----------------

@use "./_mixin.scss" as m;

@include m.mq(md) {
		font-size: 2rem;
	}
------------------------------------*/
.search-content {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 55rem;
  margin: 0 auto;
}
.search-content .search-btn {
  background-color: #5cd80a;
  border-color: #ffffff;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.search-content .search-btn img {
  vertical-align: middle;
  width: 80%;
  height: auto;
}
.search-content .search-btn:hover {
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  outline: #a7a7a7;
  color: #a7a7a7;
}

@media screen and (min-width: 768px) {
  header .menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
header .menu h1 {
  padding-left: 3rem;
}

.nav {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  z-index: 1;
  background-color: #000000;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
}
.nav.open {
  transform: translateX(0);
  padding-top: 5rem;
}
.nav li {
  padding: 2rem 0;
}
.nav li:hover {
  transform: scale(105%);
}
.nav li a:hover {
  color: #5cd80a;
}
@media screen and (min-width: 768px) {
  .nav li {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: center;
    background-color: inherit;
    position: inherit;
    height: inherit;
    transform: translateX(0);
    transition: none;
    z-index: 0;
  }
}

.menu-btn {
  position: absolute;
  z-index: 10;
  right: 2.5rem;
  top: 1.5rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn-burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #ffffff;
}
.menu-btn-burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #ffffff;
}
.menu-btn-burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #ffffff;
}
.menu-btn-burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn-burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn-burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

body {
  background-image: url(/src/img/gifs/back1.gif);
  background-position: center center;
}

.marg {
  margin-bottom: 69px;
}

ul {
  padding-left: 40px;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
}
.btnWrapper li:hover {
  transform: scale(105%);
}
.btnWrapper a:hover {
  color: rgb(38, 198, 16);
}
.btnWrapper a {
  font-size: 16px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.wrapper,
.wrapper-2 {
  margin-bottom: 40px;
}

.cards {
  width: 90%;
  margin: 0 auto;
}
.cards .cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.cards .cart .content-title {
  display: flex;
  flex-direction: row;
}
.cards .cart .content-title h3 {
  font-size: medium;
  margin-left: 10px;
}
.cards .grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.cards .grid-1 li {
  box-sizing: border-box;
  background-image: url(/src/img/gifs/loading7.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.cards .grid-1 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.cards .wrapper-2 {
  padding: 0;
  margin: 0;
}
.cards .wrapper-2 li {
  box-sizing: border-box;
}
.cards .wrapper-2 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.cards .wrapper-2 .grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.cards .wrapper-2 .grid-2 li {
  background-image: url(/src/img//gifs/loading7.gif);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cards .wrapper-2 .grid-2 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.cards .wrapper-2 .grid-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0;
}
.cards .wrapper-2 .grid-3 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    width: 90%;
    max-width: 1200px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h4 {
  display: inline-block;
  margin-bottom: 0;
}
h4:hover {
  transform: scale(110%);
}
h4:hover a {
  color: #5cd80a;
}

.trend-title {
  display: flex;
}
.trend-title h1 {
  padding-right: 1rem;
}

.search-title {
  display: flex;
}
.search-title h1 {
  padding-right: 1rem;
}

/*------------------------------------------------

Sass structure >>> https://www.learnhowtoprogram.com/user-interfaces/building-layouts-preprocessors/7-1-sass-architecture

-------------------------------------------------*/

/*# sourceMappingURL=index.css.map */
